* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #2e3a46;
    padding: 0.5em;
    .logo {
        height: 2.5em;
        img {
            height: 100%;
        }
    }
}

body {
    background-color: #1e2d3b;
    color: white;
}